/* -------------------------------------
    GLOBAL
    A very basic CSS reset
------------------------------------- */
* {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-size: 14px;
}
img {
  max-width: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  width: 100% !important;
  height: 100%;
  line-height: 1.6em;
}
table td {
  vertical-align: top;
}

/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */
body {
  background-color: #F9F9F9;
  color: #404040;
}
p {
  display: block;
  padding-bottom: 2px;
}
.body-wrap {
  background-color: #F9F9F9;
  width: 100%;
  padding-top: 40px !important;
}

.container {
  display: block !important;
  max-width: 600px !important;
  margin: 0 auto !important;
  /* makes it centered */
  clear: both !important;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  display: block;
  line-height: 1.4em;
}

/* -------------------------------------
    HEADER, FOOTER, MAIN
------------------------------------- */
.main {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 3px;
  color: #666;
}
.content-wrap {
  padding: 35px 40px 35px 40px;
}
.content-block {
  padding-bottom: 20px;
}
/*used on .content-blocks*/
.keyline-above {
  border-top: 1px solid #eee;
  padding-top: 20px;
}
.from {
  padding-bottom:15px;
}
.last {
  padding-bottom:5px;
}
.footer {
  width: 100%;
  clear: both;
  color: #999;
  padding: 20px 0;
}
.footer p,
.footer a,
.footer td {
  color: #BFBFBF;
  font-size: 13px;
  text-decoration: none;
}

/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  line-height: 1.2em;
  font-weight: 400;
  font-size: 28px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  color: #404040;
}
/* -------------------------------------
    LINKS & BUTTONS
------------------------------------- */
p a {
  color: #666;
}
.btn-primary {
  text-decoration: none;
  color: #FFF;
  background-color: #854ad3;
  border: solid #854ad3;
  border-width: 10px 20px;
  line-height: 2em;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  letter-spacing: .2px;
  display: inline-block;
  border-radius: 3px;
  margin-top: 20px;
}

/* -------------------------------------
    OTHER STYLES THAT MIGHT BE USEFUL
------------------------------------- */
.alignright {
  text-align: right;
}
.alignleft {
  text-align: left;
}
.clear {
  clear: both;
}

/* -------------------------------------
    ALERTS
    Change the class depending on warning email, good email or bad email
------------------------------------- */
.alert {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  padding: 10px;
  text-align: center;
  border-radius: 3px 3px 0 0;
}
.alert a {
  color: #fff !important;
}
.alert.alert-warning {
  background-color: #FF9F00;
}
.alert.alert-done {
  background-color: #333;
}
.alert.alert-good {
  background-color: #299FFF;
}

/* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */
@media only screen and (max-width: 640px) {
  body {
    padding: 0 !important;
  }
  h1 {
    font-size: 22px !important;
  }
  .body-wrap {
    padding-top: 5px !important;
  }
  .container {
    padding: 0 !important;
    width: 100% !important;
  }
  .content {
    padding: 0 !important;
  }
  .content-wrap {
    padding: 20px !important;
  }
}
